<div
    id="initialPageLoadingScreen"
    class="LoadingScreen"
>
    <div class="LoadingScreen__background" aria-hidden="true"></div>
    <div
        id="initialPageLoadingAnimation"
        class="LoadingAnimation LoadingAnimation--spinning LoadingAnimation--loading"
    >
        <div class="LoadingAnimation__logo-shell">
            <canvas
                id="initialPageLoadingLogoCanvas"
                class="LoadingAnimation__logo-canvas"
                width="1280"
                height="720"
                aria-label="School of Artificial Intelligence loading animation"
            ></canvas>
            <div class="LoadingAnimation__caption" aria-label="LOADING SAI-NET">LOADING SAI-NET</div>
        </div>
    </div>
</div>
